<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ '/js/carousel.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </head>
  <body>
    <header role="banner">
      
      <!-- <nav> -->
        <ul class="topnav">
          <li>
              <img src="/SummersDrilling/images/summerspumpslogo.jpg">
          </li>
          <li>
            <a class="active">
              <p>
                Home
              </p>
            </a>
          </li>
          <li>
            <a>
              <p>
                Plugging Abandoned Wells
              </p>
            </a>
          </li>
          <li>
            <a>
              <p>
                Pump Systems
              </p>
            </a>
          </li>
          <li>
            <a>
              <p>
                Filtration Systems
              </p>
            </a>
          </li>
          <li>
            <a>
              <p>
                Contact Us
              </p>
            </a>
          </li>
          <li>
              <h3>
                479-736-2089
              </h3>
          </li>
        </ul>
      <!-- </nav> -->
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="contact-info-footer">
        <span class="contact-info-footer-item">
          <span>
            <svg preserveAspectRatio="xMidYMid meet" data-bbox="-64.005 -351.92 135.926 136.026" xmlns="http://www.w3.org/2000/svg" viewBox="-68.05576470588235 -355.92076470588233 144.0275294117647 144.0275294117647" role="img">
              <g>
                  <path d="M71.3-243.6l-.7-2c-1.6-4.8-6.9-9.7-11.7-11L41-261.5c-4.8-1.3-11.8.5-15.3 4l-6.5 6.5c-23.5-6.3-41.9-24.8-48.2-48.2l6.5-6.5c3.5-3.5 5.3-10.4 4-15.3l-4.9-17.9c-1.3-4.8-6.3-10.1-11-11.7l-2-.7c-4.8-1.6-11.6 0-15.1 3.6l-9.7 9.7c-1.7 1.7-2.8 6.6-2.8 6.7-.3 30.7 11.7 60.3 33.4 82 21.7 21.7 51.1 33.7 81.7 33.4.2 0 5.2-1.1 6.9-2.8l9.7-9.7c3.6-3.7 5.2-10.5 3.6-15.2z"></path>
              </g>
            </svg>
            CALL US
          </span>
          <span>
            Tel: <a href="tel:479-736-2089">479-736-2089</a>
          </span>
        </span>
        <span class="contact-info-footer-item">
          <!-- <svg preserveAspectRatio="xMidYMid meet" data-bbox="28.688 50.346 143.624 95.75" xmlns="http://www.w3.org/2000/svg" viewBox="24.46376470588235 22.18476470588235 152.0724705882353 152.0724705882353" role="img">
            <g>
                <path d="M100.491 100.909l71.821-33.113V53.338a2.99 2.99 0 0 0-2.992-2.992H31.68a2.99 2.99 0 0 0-2.992 2.992v14.681l71.803 32.89z"></path>
                <path d="M101.754 106.923a2.987 2.987 0 0 1-1.251.275h-.006c-.415 0-.838-.087-1.245-.269L28.688 74.6v68.504a2.99 2.99 0 0 0 2.992 2.992h137.64a2.99 2.99 0 0 0 2.992-2.992V74.389l-70.558 32.534z"></path>
            </g>
        </svg> -->
          EMAIL US
          <span>
            <a href="mailto:jsummers@summerswelldrilling.com">jsummers@summerswelldrilling.com</a>
          </span>
        </span>
        <span>
          <!-- <svg preserveAspectRatio="xMidYMid meet" data-bbox="14 13.999 172 172.002" xmlns="http://www.w3.org/2000/svg" viewBox="8.940117647058813 8.940117647058818 182.11976470588237 182.11976470588237" role="img">
            <g>
                <path d="M100 13.999c-47.496 0-86 38.504-86 86.001s38.504 86.001 86 86.001 86-38.504 86-86.001-38.504-86.001-86-86.001zM148 114H98a4 4 0 0 1-4-4V48a4 4 0 0 1 8 0v58h46a4 4 0 0 1 0 8z"></path>
            </g>
        </svg> -->
          COME SEE US
          <span>
            Everyday 7AM - 9PM
          </span>
        </span>
      </footer>
      <footer class="site-footer">
        <span>© 2020 by Summers Well Drilling, LLC.
          <span class="site-footer-owner">Maintained by MCG Web Design.</span>
        </span>
      </footer>
    </main>
  </body>
</html>
